*{
    margin: 0;
    padding: 0;
}
.col-logo img{
    height: 100px;
    width: 100px;
    padding-left: 50px;
    padding-top: 10px;
    position: relative;
    left: 60px;
}

.row{
    display: flex;
    max-width: 100%;
    
}
header{
    background-color:black;
    padding: 10px 0 10px 0;
}
a{
    text-decoration: none;
    color: white;
}
.col-8{
    flex: 0 0 75%;
    max-width: 100%;
}

.menu ul li{
    float: left;
    margin-left: 150px;
    list-style: none;
}
.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

*{
    font-family: 'Abel';
}
body {
    background: orange;
}

.profile {
    margin: 10px 0;
}

.text-center {
    font-weight: 2000;
    font-size: 400%;
}


.profile {
    padding: 10px;
    background: rgb(241, 238, 238);
    min-height: 460px;
}
.ul-size {
    margin-top: 50px;
    margin-left: 50px;
    width: 700px;
    font-size: 20px;
    line-height: 2.5;
}

.information {
    display: none;
}

.education {
    display: none;
}

.hobbies {
    display: none;
}

.job {
    display: none;
}

.intro{
    text-align: center;
    margin-top: 200px;
    
}
h1{
    font-family: 'Playfair Display', serif;
    


}